#content {
    /* margin-top: 140px; */
}


.section1 {
    /* margin-bottom: 180px; */
    height: 100vh;
    background-image: url('src/assets/image/header_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    justify-content: center;
}

.section1+.section8 {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;
}

.h1 {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-family: Roboto;
    white-space: nowrap;
    height: 113px;
    text-align: center;
    line-height: 82px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 100px;
}

.h2 {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    text-transform: lowercase;
    height: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: normal;
    text-align: inherit;
    line-height: 81px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 40px;
}

.section2 {
    background-color: #231834;
    height: 40vh;
}
.section3 {
    margin-top: 10px;
}
.section4 {
    display: flex;
    margin-top: 10px;
}
.tbltxt1 {
    display: flex;
    justify-content: center;
    color: #17388D;
    font-size: 20px;
    font-weight: 600;
}

.tbltxtLearmore {
    display: flex;
    justify-content: end;
    color: red;
    font-size: 14px;
    font-weight: 600;
}
